/* Стили для логотипа */
.logo {
    width: 200px; /* Изменение ширины логотипа */
    height: auto; /* Автоматическое подстраивание высоты под ширину */
    margin-bottom: 20px; /* Отступ снизу для логотипа */
}

/* Стили для боковой панели */
.sidebar {
    background-color: #f8f9fa; /* Светло-серый фон */
    padding: 20px;
}

/* Стили для таблицы */
.table {
    margin-top: 20px; /* Отступ сверху для таблицы */
}

/* Стили для формы */
.form {
    margin-top: 20px; /* Отступ сверху для формы */
}

/* Стили для списка ссылок */
.list {
    margin-top: 20px; /* Отступ сверху для списка */
}

/* Стили для ячеек таблицы */
.colored-cell {
    background-color: #e9ecef; /* Светло-серый фон для ячеек */
}

.color-link {
    background-color: #f5f5f5; /* Еще более светлый фон для ячеек */
}

/* Стили для форм Bootstrap */
.form-row {
    margin-bottom: 15px; /* Отступ между строками формы */
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами элементов формы */
}

/* Адаптивные стили */
@media (max-width: 768px) {
    /* Для мобильных устройств */
    .container {
        /* Контейнер на всю ширину экрана */
        width: 100%;
    }

    .logo {
        /* Уменьшение логотипа на мобильных устройствах */
        width: 100px;
    }

    .sidebar {
        /* Скрытие боковой панели на мобильных устройствах */
        display: none;
    }
}
